In [1]:
import json_lines
import pandas as pd
import numpy as np
import seaborn as sns

In [21]:
# Load data into list, and then load to dataframe
with json_lines.open('../data/ida_wrangling_exercise_data.2017-02-13.jsonl.gz') as f:
    data = [item for item in f]
    df = pd.DataFrame(data)

## Data exploration

In [22]:
df.head()

,address,dob,email,id,name,phone,record_date,ssn
0,"{'street': '86314 David Pass Apt. 211', 'city'...",1971-06-30,opark@hotmail.com,01d68a4c598a45559c06f4df0b3d82cb,"{'firstname': 'Cynthia', 'lastname': 'Dawson',...",624-869-4610,2006-07-08T09:02:13,xxx-xx-2412
1,"20722 Coleman Villages\nEast Rose, SC 71064-5894",1965-09-09,sperez@armstrong.com,876ff718291d4397bb1e0477ceee6ad9,"{'firstname': 'Tamara', 'lastname': 'Myers'}",1-594-462-7759,2009-03-28T20:22:57,xxx-xx-8025
2,"{'street': '6676 Young Square', 'city': 'New J...",1993-04-12,uortiz@gmail.com,81753097bf7e4e2085982f422bdb9cda,"{'firstname': 'Jamie', 'lastname': 'Alexander'}",472.218.5065x389,2016-08-30T20:31:39,xxx-xx-0568
3,"0932 Gomez Drives\nLeefort, MD 46879-3166",1977-04-14,palmerdiane@yahoo.com,2c2f7154b80f40ca80d08c5adc54ea45,"{'firstname': 'Angela', 'lastname': 'Garcia', ...",1-663-109-4460x1080,2001-02-15T18:50:35,xxx-xx-9825
4,"{'street': '158 Smith Vista', 'city': 'East Sh...",1970-03-19,nancymaxwell@gmail.com,4f5263f339694d068e17ee7fdbb852b8,"{'firstname': 'Jennifer', 'lastname': 'Rodrigu...",233-423-3823,2014-06-21T14:36:01,xxx-xx-9104

In [23]:
'Number of rows {} '.format(len(df))

'Number of rows 150000 '

This initial dataframe let's us know we have 150,000 entries. Some of the fields (e.g. address and name) are recorded as dictionaries and strings. Let's start working with subset (first 100 entries ) of the data frame. In order to worry about the size of the dataframes, try to work with as few as dataframes as possible, be it the original or the subframe.

In [24]:
df = pd.concat([df, df['address'].apply(pd.Series).add_prefix('address.')], axis=1)
df.drop('address.0', axis=1, inplace=True)
df.head()

/Users/cristian/anaconda/lib/python3.6/site-packages/pandas/indexes/api.py:37: RuntimeWarning: '>' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  union = _union_indexes(indexes)
/Users/cristian/anaconda/lib/python3.6/site-packages/pandas/indexes/api.py:71: RuntimeWarning: '>' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)

,address,dob,email,id,name,phone,record_date,ssn,address.city,address.state,address.street,address.zip
0,"{'street': '86314 David Pass Apt. 211', 'city'...",1971-06-30,opark@hotmail.com,01d68a4c598a45559c06f4df0b3d82cb,"{'firstname': 'Cynthia', 'lastname': 'Dawson',...",624-869-4610,2006-07-08T09:02:13,xxx-xx-2412,Hoodburgh,RI,86314 David Pass Apt. 211,83973
1,"20722 Coleman Villages\nEast Rose, SC 71064-5894",1965-09-09,sperez@armstrong.com,876ff718291d4397bb1e0477ceee6ad9,"{'firstname': 'Tamara', 'lastname': 'Myers'}",1-594-462-7759,2009-03-28T20:22:57,xxx-xx-8025,NaN,NaN,NaN,NaN
2,"{'street': '6676 Young Square', 'city': 'New J...",1993-04-12,uortiz@gmail.com,81753097bf7e4e2085982f422bdb9cda,"{'firstname': 'Jamie', 'lastname': 'Alexander'}",472.218.5065x389,2016-08-30T20:31:39,xxx-xx-0568,New Julie,UT,6676 Young Square,73125
3,"0932 Gomez Drives\nLeefort, MD 46879-3166",1977-04-14,palmerdiane@yahoo.com,2c2f7154b80f40ca80d08c5adc54ea45,"{'firstname': 'Angela', 'lastname': 'Garcia', ...",1-663-109-4460x1080,2001-02-15T18:50:35,xxx-xx-9825,NaN,NaN,NaN,NaN
4,"{'street': '158 Smith Vista', 'city': 'East Sh...",1970-03-19,nancymaxwell@gmail.com,4f5263f339694d068e17ee7fdbb852b8,"{'firstname': 'Jennifer', 'lastname': 'Rodrigu...",233-423-3823,2014-06-21T14:36:01,xxx-xx-9104,East Sharonstad,ME,158 Smith Vista,42483

In [26]:
df = pd.concat([df, df['name'].apply(pd.Series).add_prefix('name.')], axis=1)
df.drop('name.0', axis=1, inplace=True)
df.head()

/Users/cristian/anaconda/lib/python3.6/site-packages/pandas/indexes/api.py:71: RuntimeWarning: '>' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)
/Users/cristian/anaconda/lib/python3.6/site-packages/pandas/indexes/api.py:37: RuntimeWarning: '>' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  union = _union_indexes(indexes)

,address,dob,email,id,name,phone,record_date,ssn,address.city,address.state,address.street,address.zip,name.firstname,name.lastname,name.middlename
0,"{'street': '86314 David Pass Apt. 211', 'city'...",1971-06-30,opark@hotmail.com,01d68a4c598a45559c06f4df0b3d82cb,"{'firstname': 'Cynthia', 'lastname': 'Dawson',...",624-869-4610,2006-07-08T09:02:13,xxx-xx-2412,Hoodburgh,RI,86314 David Pass Apt. 211,83973,Cynthia,Dawson,Claire
1,"20722 Coleman Villages\nEast Rose, SC 71064-5894",1965-09-09,sperez@armstrong.com,876ff718291d4397bb1e0477ceee6ad9,"{'firstname': 'Tamara', 'lastname': 'Myers'}",1-594-462-7759,2009-03-28T20:22:57,xxx-xx-8025,NaN,NaN,NaN,NaN,Tamara,Myers,NaN
2,"{'street': '6676 Young Square', 'city': 'New J...",1993-04-12,uortiz@gmail.com,81753097bf7e4e2085982f422bdb9cda,"{'firstname': 'Jamie', 'lastname': 'Alexander'}",472.218.5065x389,2016-08-30T20:31:39,xxx-xx-0568,New Julie,UT,6676 Young Square,73125,Jamie,Alexander,NaN
3,"0932 Gomez Drives\nLeefort, MD 46879-3166",1977-04-14,palmerdiane@yahoo.com,2c2f7154b80f40ca80d08c5adc54ea45,"{'firstname': 'Angela', 'lastname': 'Garcia', ...",1-663-109-4460x1080,2001-02-15T18:50:35,xxx-xx-9825,NaN,NaN,NaN,NaN,Angela,Garcia,Alexis
4,"{'street': '158 Smith Vista', 'city': 'East Sh...",1970-03-19,nancymaxwell@gmail.com,4f5263f339694d068e17ee7fdbb852b8,"{'firstname': 'Jennifer', 'lastname': 'Rodrigu...",233-423-3823,2014-06-21T14:36:01,xxx-xx-9104,East Sharonstad,ME,158 Smith Vista,42483,Jennifer,Rodriguez,NaN

In [15]:
df_sub = df[0:100].copy()

In [ ]:
#Need to add new columns to dataframe, then loop through rows and populate them

In [ ]:
#Need to add conditional that checks for string or dict. As well as add new columns to original data frame

In [7]:
# Function to create a list of concat name from a nested dictionary, e.g. address.street, address.city, or name.first
def concat_list(dataf, dict_name):
    keys = [dict_name + '.' + item for item in df[dict_name][0].keys()]

    return pd.concat([dataf, pd.DataFrame(columns=keys)])

In [8]:
# adding nested address names as columns, and doing the same with 'name'
df_sub = concat_list(df_sub, 'address')
df_sub = concat_list(df_sub, 'name')

In [16]:
df_sub = pd.concat([df_sub, df_sub['address'].apply(pd.Series).add_prefix('address.')], axis=1)
df_sub.drop('address.0', axis=1, inplace=True)
df_sub.head()

/Users/cristian/anaconda/lib/python3.6/site-packages/pandas/indexes/api.py:37: RuntimeWarning: '>' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  union = _union_indexes(indexes)
/Users/cristian/anaconda/lib/python3.6/site-packages/pandas/indexes/api.py:71: RuntimeWarning: '>' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)

,address,dob,email,id,name,phone,record_date,ssn,address.city,address.state,address.street,address.zip
0,"{'street': '86314 David Pass Apt. 211', 'city'...",1971-06-30,opark@hotmail.com,01d68a4c598a45559c06f4df0b3d82cb,"{'firstname': 'Cynthia', 'lastname': 'Dawson',...",624-869-4610,2006-07-08T09:02:13,xxx-xx-2412,Hoodburgh,RI,86314 David Pass Apt. 211,83973
1,"20722 Coleman Villages\nEast Rose, SC 71064-5894",1965-09-09,sperez@armstrong.com,876ff718291d4397bb1e0477ceee6ad9,"{'firstname': 'Tamara', 'lastname': 'Myers'}",1-594-462-7759,2009-03-28T20:22:57,xxx-xx-8025,NaN,NaN,NaN,NaN
2,"{'street': '6676 Young Square', 'city': 'New J...",1993-04-12,uortiz@gmail.com,81753097bf7e4e2085982f422bdb9cda,"{'firstname': 'Jamie', 'lastname': 'Alexander'}",472.218.5065x389,2016-08-30T20:31:39,xxx-xx-0568,New Julie,UT,6676 Young Square,73125
3,"0932 Gomez Drives\nLeefort, MD 46879-3166",1977-04-14,palmerdiane@yahoo.com,2c2f7154b80f40ca80d08c5adc54ea45,"{'firstname': 'Angela', 'lastname': 'Garcia', ...",1-663-109-4460x1080,2001-02-15T18:50:35,xxx-xx-9825,NaN,NaN,NaN,NaN
4,"{'street': '158 Smith Vista', 'city': 'East Sh...",1970-03-19,nancymaxwell@gmail.com,4f5263f339694d068e17ee7fdbb852b8,"{'firstname': 'Jennifer', 'lastname': 'Rodrigu...",233-423-3823,2014-06-21T14:36:01,xxx-xx-9104,East Sharonstad,ME,158 Smith Vista,42483

In [ ]:
df = pd.concat([df, df['name'].apply(pd.Series).add_prefix('name.')], axis=1)
df.drop('name.0', axis=1, inplace=True)
df.head()

In [18]:
df_sub = pd.concat([df_sub, df_sub['name'].apply(pd.Series).add_prefix('name.')], axis=1)
df_sub.drop('name.0', axis=1, inplace=True)
df_sub.head()

/Users/cristian/anaconda/lib/python3.6/site-packages/pandas/indexes/api.py:71: RuntimeWarning: '>' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)
/Users/cristian/anaconda/lib/python3.6/site-packages/pandas/indexes/api.py:37: RuntimeWarning: '>' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  union = _union_indexes(indexes)

,address,dob,email,id,name,phone,record_date,ssn,address.city,address.state,address.street,address.zip,name.firstname,name.lastname,name.middlename
0,"{'street': '86314 David Pass Apt. 211', 'city'...",1971-06-30,opark@hotmail.com,01d68a4c598a45559c06f4df0b3d82cb,"{'firstname': 'Cynthia', 'lastname': 'Dawson',...",624-869-4610,2006-07-08T09:02:13,xxx-xx-2412,Hoodburgh,RI,86314 David Pass Apt. 211,83973,Cynthia,Dawson,Claire
1,"20722 Coleman Villages\nEast Rose, SC 71064-5894",1965-09-09,sperez@armstrong.com,876ff718291d4397bb1e0477ceee6ad9,"{'firstname': 'Tamara', 'lastname': 'Myers'}",1-594-462-7759,2009-03-28T20:22:57,xxx-xx-8025,NaN,NaN,NaN,NaN,Tamara,Myers,NaN
2,"{'street': '6676 Young Square', 'city': 'New J...",1993-04-12,uortiz@gmail.com,81753097bf7e4e2085982f422bdb9cda,"{'firstname': 'Jamie', 'lastname': 'Alexander'}",472.218.5065x389,2016-08-30T20:31:39,xxx-xx-0568,New Julie,UT,6676 Young Square,73125,Jamie,Alexander,NaN
3,"0932 Gomez Drives\nLeefort, MD 46879-3166",1977-04-14,palmerdiane@yahoo.com,2c2f7154b80f40ca80d08c5adc54ea45,"{'firstname': 'Angela', 'lastname': 'Garcia', ...",1-663-109-4460x1080,2001-02-15T18:50:35,xxx-xx-9825,NaN,NaN,NaN,NaN,Angela,Garcia,Alexis
4,"{'street': '158 Smith Vista', 'city': 'East Sh...",1970-03-19,nancymaxwell@gmail.com,4f5263f339694d068e17ee7fdbb852b8,"{'firstname': 'Jennifer', 'lastname': 'Rodrigu...",233-423-3823,2014-06-21T14:36:01,xxx-xx-9104,East Sharonstad,ME,158 Smith Vista,42483,Jennifer,Rodriguez,NaN

In [150]:
# Extrapolate dict values into nested columns 
from tqdm import tqdm
for item in tqdm(df_sub.address):
    if type(item) == dict:
        df_sub['address.city'] = df.apply(lambda x :add(x["coverage"], x["reports"]), axis=1)

SyntaxError: invalid syntax (<ipython-input-150-5bc49d0849f7>, line 5)

In [32]:
#Creating a vectorized solution 
df_sub['address.city'] = df_sub['address'].where( type(df_sub['address']) == dict, df_sub.address['city'] )

KeyError: 'city'

In [ ]:
# Now Combine all dataframes and sort in alphabetical order
df_name.sort_index(axis=1).columns

In [ ]:
# Make a funciton to loop through columns and return the percentage
for item in result:
    print('{} = {:.1f}%'.format(item, 100 *
                                result[item].count() / len(result)))

## 1. Start by making a list of all of the nested named fields that appear in any record. Concatenate nested field names using a period '.' to defind named fields for nested records. Present the list in alphabetical order.

Now we can begin to work on the large data set

In [ ]:
# Create dataframe with concatenated nested field name for address

This is way to slow. I need to anticipate from the beginning what the final data frame will look like and then continue to work on that frame instead building multiple large size dataframe that eat through ram!