In [1]:
import json_lines
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from IPython.core import display as ICD

# Introduction

The following notebook manipulates a large 150,000 entry JSONL data file. It does so by first breaking out dictionaries in the name and address fields fields; it converts the dictionary keys into new dataframe columns. It then calculates metrics for the data frame, such as % of occupied fields and unique values within columns. I began by first proving all functions and metrics on a subset dataframe with 100 entries. After successfully completing  a set of tasks on the small dataframe, I'll scale up to the original dataframe.

In [2]:
# Load data into list, and then load to dataframe
with json_lines.open('../data/ida_wrangling_exercise_data.2017-02-13.jsonl.gz') as f:
    data = [item for item in f]
    df = pd.DataFrame(data)

### Data exploration

In [148]:
df

,address,dob,email,id,name,phone,record_date,ssn
0,"{'street': '86314 David Pass Apt. 211', 'city'...",1971-06-30,opark@hotmail.com,01d68a4c598a45559c06f4df0b3d82cb,"{'firstname': 'Cynthia', 'lastname': 'Dawson',...",624-869-4610,2006-07-08T09:02:13,xxx-xx-2412
1,"20722 Coleman Villages\nEast Rose, SC 71064-5894",1965-09-09,sperez@armstrong.com,876ff718291d4397bb1e0477ceee6ad9,"{'firstname': 'Tamara', 'lastname': 'Myers'}",1-594-462-7759,2009-03-28T20:22:57,xxx-xx-8025
2,"{'street': '6676 Young Square', 'city': 'New J...",1993-04-12,uortiz@gmail.com,81753097bf7e4e2085982f422bdb9cda,"{'firstname': 'Jamie', 'lastname': 'Alexander'}",472.218.5065x389,2016-08-30T20:31:39,xxx-xx-0568
3,"0932 Gomez Drives\nLeefort, MD 46879-3166",1977-04-14,palmerdiane@yahoo.com,2c2f7154b80f40ca80d08c5adc54ea45,"{'firstname': 'Angela', 'lastname': 'Garcia', ...",1-663-109-4460x1080,2001-02-15T18:50:35,xxx-xx-9825
4,"{'street': '158 Smith Vista', 'city': 'East Sh...",1970-03-19,nancymaxwell@gmail.com,4f5263f339694d068e17ee7fdbb852b8,"{'firstname': 'Jennifer', 'lastname': 'Rodrigu...",233-423-3823,2014-06-21T14:36:01,xxx-xx-9104
5,"{'street': '461 Knapp Unions', 'city': 'Thomps...",1989-12-23,peterkhan@serrano.net,e615757bb70e4c9e8ec532f22a764a3e,"{'firstname': 'Keith', 'lastname': 'Meadows'}",686-305-8557x0623,2012-03-02T10:37:14,xxx-xx-4652
6,"9524 Danielle Burg Apt. 849\nNorth Vickistad, ...",1983-05-09,laurenreilly@lopez-hurst.com,60880b0bcf614ccda8688409ee9d8db3,"{'firstname': 'Shane', 'lastname': 'Garcia'}",721-135-6630,2013-01-19T12:17:21,xxx-xx-5597
7,"407 Patrick Shoal\nWilliamsshire, VI 49526",1989-10-05,wallaceheather@obrien-richardson.com,357cbf915fdb46dfa76c7bd3ea10feff,"{'firstname': 'Charles', 'lastname': 'Bell', '...",528-480-7488x60984,2004-03-03T07:35:59,xxx-xx-7244
8,"{'street': '3697 Mills Estates Apt. 499', 'cit...",1987-06-24,michael18@yahoo.com,bbf4acd3660c4ba1803f396d789e538a,Morgan Morris,09316674472,2000-03-07T03:55:21,xxx-xx-7034
9,NaN,1980-03-20,erinsanford@garcia.com,3422bcb95ad6454f8348087ba25902f0,Bernard Wilkerson,196-454-2484,2016-11-29T21:01:43,xxx-xx-0866
10,"{'street': '01737 Hailey Drives Suite 056', 'c...",1989-10-23,zimmermanbrian@gmail.com,156fe664697b49349ccdc0d0ff054a33,"{'firstname': 'Amanda', 'lastname': 'Davis'}",443.378.1619x08587,2015-06-04T20:14:05,xxx-xx-2246
11,"395 Anna Roads Apt. 613\nAlexandershire, FL 22077",1977-03-09,betty85@yahoo.com,53a795877fe24c09a0a950e9febf9758,"{'firstname': 'Adrian', 'lastname': 'Guerra'}",+74(2)6173978109,2001-05-04T02:12:57,xxx-xx-1050
12,"{'street': '56833 Baker Branch', 'city': 'Lake...",1977-09-26,dustin06@gmail.com,b75dda689be842a8ad6bb52f3783cabc,Casey Haas,+62(2)9284019429,2016-09-17T12:06:53,xxx-xx-4247
13,"{'street': '045 Bennett Motorway Suite 404', '...",1962-08-02,scottboyd@hotmail.com,43989614a5d84a07b64f5f397d6e8079,"{'firstname': 'Tiffany', 'lastname': 'Hall', '...",NaN,2009-09-07T00:32:29,xxx-xx-9110
14,"{'street': '908 Matthew Ports Suite 313', 'cit...",1975-12-12,NaN,04d41c1e5ab748f8aeeacff3e9536c9c,Barbara Harris,(683)392-8521,2012-08-09T01:40:26,xxx-xx-8164
15,"8439 Greer Center Suite 843\nNorth Ryanland, W...",1989-06-16,morrisellen@yahoo.com,b195eb79b7ce427684442617f98cca5a,Crystal Bennett,494.161.8907x4812,2003-11-28T10:39:33,xxx-xx-8301
16,"{'street': '78407 Timothy Viaduct', 'city': 'S...",1983-11-13,NaN,2a60628968fd4659950b12f1a95d7dfb,Eric Cain,(406)239-6513x03040,2005-02-02T10:25:08,NaN
17,"15131 Alicia Islands Suite 074\nSouth Javier, ...",1985-11-03,ldonaldson@yahoo.com,cf67ba8b002f4feca95445ecb4698d2f,"{'firstname': 'Peter', 'lastname': 'Trevino', ...",504-014-4601x674,2009-03-20T11:42:09,NaN
18,NaN,1965-04-12,mcdonaldchristopher@morrison.info,81bf075d949c45f1a718988c2990fe7b,"{'firstname': 'Steven', 'lastname': 'Davis', '...",532-944-5053,2003-05-01T16:37:31,xxx-xx-4282
19,"4796 Norton Summit\nBillton, MO 80361-8343",1948-02-18,andrewsjames@williams.net,5f4dceaff4024e10af09897e874e7ca5,Cindy Banks,880.073.4374x9017,2009-07-08T11:02:46,xxx-xx-7855
20,{'street': '39252 Dominguez Islands Suite 668'...,1973-12-29,NaN,c2bbd72101e74c288f0944200e4afaf1,"{'firstname': 'Lindsay', 'lastname': 'Chambers'}",685-597-1056x1053,2004-03-27T09:22:28,xxx-xx-1795
21,"{'street': '8733 Matthew Courts', 'city': 'Eas...",1989-05-03,jonesmatthew@yahoo.com,14b0426544904bdfbf16c29037e1eea2,"{'firstname': 'Sara', 'lastname': 'Taylor', 'm...",02087793627,2002-01-01T20:47:36,xxx-xx-7938
22,78000 Bryan Plaza Suite 275\nSouth Matthewburg...,1955-01-07,zunigaglen@gmail.com,6dc4e84b29bb43afbe9ef9bae900ae2e,"{'firstname': 'Amy', 'lastname': 'Hall'}",217.917.9874x603,2014-10-08T02:49:20,xxx-xx-2641
23,"31979 Wendy Hollow Suite 911\nNew Jeremy, VI 0...",1958-05-18,greencathy@gaines.org,af7468b4d2a74473bcd199f54914e0cc,Thomas Butler,217-008-6889,2014-12-20T08:29:17,xxx-xx-6296
24,NaN,1979-05-25,johnny69@robinson.com,baaaee5fd0a043cbb48832979679d5b9,"{'firstname': 'Christopher', 'lastname': 'Clark'}",353-048-3198x85710,2003-11-27T19:20:10,xxx-xx-0895
25,"6063 Sarah Passage\nGaryview, IA 04420",1947-07-08,mccartysheri@gmail.com,6d116451a92c4898bd6dad55432e6e54,"{'firstname': 'Melissa', 'lastname': 'Sanford'}",+84(7)5628190571,2006-01-25T19:03:04,xxx-xx-6695
26,"{'street': '808 Lloyd Canyon', 'city': 'West J...",1950-05-08,NaN,f27f7fdf6462424c9b396e9c90be4a5c,"{'firstname': 'Crystal', 'lastname': 'Chapman'}",1-290-722-3334x15776,2002-09-20T23:16:00,xxx-xx-5562
27,"{'street': '3852 Garcia Rapids', 'city': 'Jose...",1950-10-05,NaN,5013fa1de8994aa8b9e50b39bcb745d8,"{'firstname': 'Mallory', 'lastname': 'Gilbert'}",809-572-1158x84716,2014-02-26T07:30:41,xxx-xx-4379
28,"0597 Ann Shore\nNorth Mitchell, OK 36332",1991-01-28,jessicarobinson@humphrey-rogers.biz,2466be83feab49e298e7547d6a3a9d80,"{'firstname': 'Elizabeth', 'lastname': 'Hutchi...",02996289892,2016-06-19T09:46:51,xxx-xx-6533
29,"90745 Stephanie Run\nNew Barbarahaven, AZ 72722",1980-08-30,anita93@harris.com,e87dc8df69a64b43b0bc1e3afbadfdc9,"{'firstname': 'Richard', 'lastname': 'Reed', '...",1-688-873-4927x90906,2007-11-24T00:34:09,xxx-xx-4715
...,...,...,...,...,...,...,...,...
149970,"{'street': '8680 Kimberly Drives', 'city': 'Ta...",1958-08-22,tommy14@bass.com,7f94ec1bd5d24e9cba49a94cbd84f61d,Mary Everett,453.670.4394x245,2013-09-24T08:03:50,xxx-xx-8345
149971,"{'street': '0387 Adam Stravenue', 'city': 'Rya...",NaN,samanthalewis@west.com,042c0690ed8c4153a22f5af690805199,"{'firstname': 'Nathaniel', 'lastname': 'Turner'}",+66(7)4767380794,2003-10-08T12:45:35,xxx-xx-2982
149972,"{'street': '9170 Reese Forge', 'city': 'Lake A...",1971-05-09,jaimeaguilar@dickson.net,ccc8a588dbea4546872828387265220f,Nathan Hill,(721)466-3984,2001-06-28T22:58:03,xxx-xx-4842
149973,"{'street': '1797 Robert Station Suite 929', 'c...",1954-12-22,danielrobinson@daniels.com,5c86a5a7b6b24da3a7ef7e255857a753,Olivia Fisher,(426)129-4414,2006-05-22T12:34:16,xxx-xx-4231
149974,NaN,1961-05-24,jchurch@anderson.com,be32047190ba486eaf73fd2ab646e2f1,"{'firstname': 'Tonya', 'lastname': 'White', 'm...",984-484-5527x89698,2011-05-24T06:04:15,xxx-xx-4486
149975,NaN,1979-06-06,monique48@hotmail.com,005a0ddf497249ad808e5f4948f9b361,"{'firstname': 'Victoria', 'lastname': 'Vincent'}",291-902-8427,2002-12-25T18:36:49,xxx-xx-1326
149976,"9218 Gomez Mountain\nJohnsonville, WY 81584-4328",1956-06-18,robertpowers@gmail.com,ab44de3aad3f411fb28ab69f3671da53,Dean Johnson,974-236-6898,2011-08-31T07:58:55,xxx-xx-7976
149977,"{'street': '424 Fox Burgs Suite 528', 'city': ...",NaN,riverskaren@yahoo.com,d18b90ecd71a42849e822dceb47e668c,Gail Hernandez,227-931-7153,2008-02-29T19:10:28,xxx-xx-1413
149978,"{'street': '3076 Diane Course', 'city': 'North...",1964-05-31,nicholasday@yahoo.com,461bc49b05d94f378701893ca05f6bc5,"{'firstname': 'Paul', 'lastname': 'Bryant'}",487-465-1515x963,2004-01-23T06:43:23,xxx-xx-5653
149979,"89099 Sanchez Canyon Suite 382\nWest Sarah, LA...",1963-06-15,aaron87@davis.biz,2482c95b01424aaf9dd972b14e0e43b7,Kelsey Brady,+41(3)6772802266,2016-05-15T22:42:58,xxx-xx-4444
149980,"{'street': '085 Ryan Forest Apt. 471', 'city':...",1975-06-09,leehill@gonzalez.com,a3b8062b955547568cc4a45fe198f36e,Bradley Scott,1-871-965-8793x66131,2010-03-24T17:32:54,xxx-xx-1457
149981,"034 Andrea Run\nThomasland, AL 19551-9506",1947-12-03,NaN,802723aed72e47ebad7a9ead2fddbb33,"{'firstname': 'Natalie', 'lastname': 'Simmons'...",01003458292,2005-04-09T06:28:15,NaN
149982,"2179 Tiffany Oval Suite 149\nMaddoxville, GA 1...",1962-02-13,fhall@faulkner.com,c68c972a2c4d4747ad31cc78cfbeba11,"{'firstname': 'James', 'lastname': 'Watson'}",(748)291-7708,2002-05-22T19:47:51,xxx-xx-6078
149983,"{'street': '472 Fernandez Hills', 'city': 'Sou...",1954-09-11,dcohen@wilson.net,3f116158632640df9247f43a6db02827,"{'firstname': 'Corey', 'lastname': 'Blankenshi...",618.889.4227,2014-11-01T16:06:54,xxx-xx-9209
149984,"828 Wilson Shore Apt. 874\nHillfurt, UT 58863",1978-04-25,debramoody@medina.com,ed719d00458c4e79a29c6da7113ff9cd,"{'firstname': 'Haley', 'lastname': 'White'}",(838)809-6942x833,2002-04-07T16:15:42,xxx-xx-2829
149985,"239 Wayne Harbors Suite 621\nMalloryfort, UT 6...",1967-03-16,holawrence@maldonado-winters.com,1598b618efdd4976a16a11d6a9da2b90,"{'firstname': 'George', 'lastname': 'Gutierrez...",391-239-2565x11047,2008-11-11T16:38:15,xxx-xx-3821
149986,"033 Julia Avenue\nCarolynbury, VT 09845-4107",1954-11-27,jessicabuchanan@herrera.com,16dbe39958684d839077eaec2bde3e44,"{'firstname': 'Christina', 'lastname': 'Schwar...",1-248-608-6600x091,2006-01-22T20:16:43,xxx-xx-3674
149987,"31640 Reed Knolls Apt. 548\nMelissaside, GA 25615",1973-06-13,tracey09@morris-hawkins.com,44158a2a26534ba7b432216f42792388,"{'firstname': 'Aaron', 'lastname': 'Gonzales',...",+82(6)2211988571,2012-09-02T07:12:56,xxx-xx-8861
149988,NaN,1969-08-12,NaN,36bde729e51342d9a0471e15b106d791,"{'firstname': 'Jason', 'lastname': 'Sullivan',...",1-916-400-8688x853,2010-03-20T15:22:38,xxx-xx-9328
149989,"044 Stone Avenue\nMarialand, CT 96606",1955-03-11,paynelaura@wells.com,2d41d96a1f94435e9e5a3e44ad6f42f7,Mariah Wilson,+02(0)3284519718,2002-06-26T05:22:08,xxx-xx-6638
149990,"{'street': '62284 Scott Motorway Apt. 391', 'c...",NaN,bowersjulie@gonzalez.biz,8ff139627d4e4e8bbacbadb81cff9128,"{'firstname': 'Brittany', 'lastname': 'Alvarez...",+18(9)0609811091,2001-03-28T20:48:09,xxx-xx-8014
149991,"40839 Francis Turnpike\nNorth Brandon, IN 04334",1948-02-21,baileytara@gmail.com,3df7bf5940f6434f8e4fcce870f91b51,Sue Oconnell,903-410-7160x0983,2015-06-03T19:29:22,xxx-xx-4399
149992,"518 Bailey Plains Suite 709\nWest Mariaview, M...",1984-05-31,NaN,e73560393d62438ca04f949ac7014c32,"{'firstname': 'Ryan', 'lastname': 'Sloan'}",1-465-235-2798,2006-07-09T16:31:55,xxx-xx-8196
149993,"244 Kathleen Stravenue\nRyanmouth, SD 88692-7289",1967-08-29,troyparker@williams-myers.com,d6485b724d4e496f9ae925c874691f22,"{'firstname': 'Ray', 'lastname': 'Turner'}",+16(3)5548805840,2012-10-19T20:32:49,xxx-xx-7774
149994,NaN,1969-02-24,lovelisa@hotmail.com,9f567315891c4cf896b6582c79108e05,Anna Davis,1-724-393-5084,2014-06-30T10:53:03,xxx-xx-7877
149995,"52805 Higgins Harbor\nJessicamouth, SC 83621-8672",1948-08-18,NaN,91b1d3cbcb794e49a41cfdfe66ff931d,"{'firstname': 'Eduardo', 'lastname': 'Mejia', ...",704-719-8698,2016-09-24T17:00:36,xxx-xx-9311
149996,"{'street': '231 Johnson Point', 'city': 'Melis...",1988-10-28,NaN,af070fd4476946e6b4755232d8ec8252,"{'firstname': 'Emily', 'lastname': 'Solis'}",(548)476-4285x0779,2014-11-17T01:50:15,xxx-xx-5319
149997,"8772 Evans Mill\nThomasborough, AK 26835-9457",NaN,daisy78@johnson-johnson.info,e8cddfe3494e486aae6735e027fd6c8d,Anna Walter,(926)119-0532x51870,2006-08-16T21:40:19,xxx-xx-0710
149998,"{'street': '85861 Schmidt Locks', 'city': 'Wes...",1977-11-10,hilledward@gutierrez.net,b47fedaa20bd428fb674aeb8db0ba1cc,Gary Rodriguez,670-853-5186,2012-03-29T18:42:39,xxx-xx-6767
149999,"3178 Mary Plains\nKeithville, VT 34029-5102",1987-11-17,jessicalewis@carroll-martinez.com,6081948439244760865cf6c21ad77248,"{'firstname': 'Alex', 'lastname': 'Johnson'}",791-310-0485,2004-05-29T18:44:26,xxx-xx-7983

In [4]:
'Number of rows {} '.format(len(df))

'Number of rows 150000 '

This initial dataframe has 150,000 entries. Some of the fields (e.g. address and name) are recorded as dictionaries and strings. Let's start working with a subset (first 100 entries ) of the data frame. Truncating the dataframe will speed up initial code experimentation.

### Operating on subset of data

In [135]:
# Subset wtih first 100 entries of dataframe
df_sub = df[0:100].copy()

## 1. Make a list of all of the nested named fields that appear in any record. Concatenate nested field names using a period '.' to defind named fields for nested records. Present the list in alphabetical order.

In [136]:
def expand_dict(dframe, dict_names):
    """This function will take a dataframe and dictionary list as inputs. 
    It will convert dictionary keys into seperate columns within the same dataframe by invoking the apply method.
    It returns a dataframe with concatenated columns"""

    # Creates an empty dataframe
    df_nested = pd.DataFrame()

    # Iterate through list of dictionaries
    for item in dict_names:
        # Expand dictionary keys into columns
        df_nested = pd.concat([df_nested, dframe[item].apply(pd.Series).add_prefix(
            (item + '.'))], axis=1)
        # Drops extra generated column from apply method
        df_nested.drop(item + '.0', axis=1, inplace=True)
        # Add original nested column
        df_nested[item] = dframe[item]
        # Replace nested fields with NaN, otherwise leave string value
        df_nested[item] = df_nested[item].apply(lambda x: np.nan if type(x) == dict else x)

    return df_nested

In [137]:
#Invoke the function above 
df_sub = expand_dict(df_sub, ['address', 'name'])
df_sub.head()

,address.city,address.state,address.street,address.zip,address,name.firstname,name.lastname,name.middlename,name
0,Hoodburgh,RI,86314 David Pass Apt. 211,83973,NaN,Cynthia,Dawson,Claire,NaN
1,NaN,NaN,NaN,NaN,"20722 Coleman Villages\nEast Rose, SC 71064-5894",Tamara,Myers,NaN,NaN
2,New Julie,UT,6676 Young Square,73125,NaN,Jamie,Alexander,NaN,NaN
3,NaN,NaN,NaN,NaN,"0932 Gomez Drives\nLeefort, MD 46879-3166",Angela,Garcia,Alexis,NaN
4,East Sharonstad,ME,158 Smith Vista,42483,NaN,Jennifer,Rodriguez,NaN,NaN

In [138]:
# An alphabetical order list of the fields 
sorted(list(df_sub.columns))

['address',
 'address.city',
 'address.state',
 'address.street',
 'address.zip',
 'name',
 'name.firstname',
 'name.lastname',
 'name.middlename']

## 2. Answer the following questions for each field in your list from question 1.

- What percentage of the records contain the field?
- What are the five most common values of the field?

#### What percentage of the records contain the field?

In [139]:

def col_percent(dframe):
    '''A funciton to loop through columns and return the percentage of populated items.'''
    for item in dframe:
        print('{} = {:.1f}%'.format(item, 100 *
                                    dframe[item].count() / len(dframe)))

In [140]:
# Invoke the function above 
col_percent(df_sub)

address.city = 41.0%
address.state = 41.0%
address.street = 41.0%
address.zip = 41.0%
address = 52.0%
name.firstname = 66.0%
name.lastname = 66.0%
name.middlename = 26.0%
name = 34.0%

#### What are the five most common values of the field?

In [141]:
# Five most common values in a column
def common_values(df, num):
    '''Function takes a dataframe and int as input, returns int number of common values'''
    for item in df:
        # Prints common values as a dataframe
        ICD.display(pd.DataFrame(df[item].value_counts().head(num)) )

In [142]:
common_values(df_sub,5)

                    address.city
Nolanmouth                     1
Josephshire                    1
Williamtown                    1
Perezhaven                     1
Christopherborough             1

    address.state
UT              4
RI              4
WY              3
HI              2
VI              2

                               address.street
3852 Garcia Rapids                          1
01737 Hailey Drives Suite 056               1
56833 Baker Branch                          1
93406 Justin Spur                           1
461 Knapp Unions                            1

            address.zip
44661                 1
15884                 1
78860                 1
19394-0990            1
77432-0490            1

                                                    address
090 Laura Islands\nLake Jennifer, OR 78668-8235           1
31979 Wendy Hollow Suite 911\nNew Jeremy, VI 00557        1
82863 Paul Manor Suite 652\nLake James, AR 69358          1
577 Brown Skyway Suite 354\nShaneview, VI 02325           1
65447 Perry Fall\nStephanieton, GU 78143                  1

         name.firstname
Robert                3
Steven                2
Shane                 2
Eric                  2
Tiffany               2

           name.lastname
Davis                  3
Garcia                 2
Chapman                2
Hall                   2
Rodriguez              2

          name.middlename
David                   2
Jerry                   1
Justin                  1
Jennifer                1
Paul                    1

                   name
Bernard Wilkerson     1
Christine Mcguire     1
David Thomas          1
Lauren Turner         1
Terry Nguyen          1

## 3. How many distinct first names appear in this data set? Explain your procedure for identifying distinct first names.

Used the unique() method on the 'name.namefirst' column. With more time I would have parsed out the first names strings in the 'name' column.

In [143]:
df_sub['name.firstname'].unique()

array(['Cynthia', 'Tamara', 'Jamie', 'Angela', 'Jennifer', 'Keith',
       'Shane', 'Charles', nan, 'Amanda', 'Adrian', 'Tiffany', 'Peter',
       'Steven', 'Lindsay', 'Sara', 'Amy', 'Christopher', 'Melissa',
       'Crystal', 'Mallory', 'Elizabeth', 'Richard', 'Jonathan', 'Nicole',
       'Michael', 'Robert', 'Ryan', 'Mary', 'Brooke', 'Daniel', 'Calvin',
       'Brandon', 'Laurie', 'Ashley', 'Brent', 'Kevin', 'Eric', 'Deborah',
       'Christine', 'Joseph', 'Donald', 'Jeff', 'Nathan', 'Martin', 'Lisa',
       'Ricky', 'Casey', 'Stacy', 'Matthew', 'Cassidy', 'Jenna', 'Mark',
       'Brad', 'Stephanie', 'John', 'Lauren', 'Veronica'], dtype=object)

In [144]:
len(df_sub['name.firstname'].unique())

58

## 4. How many distinct street names appear in this data set? Explain your procedure for identifying distinct street names.

## 5. What are the 5 most common US area codes in the phone number field? Explain your approach to identify the US area codes in this data set.
To do: remove special charectors. Remove extensions from end starting with x, then remove last 7 numbers, then last three will be area code.